<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
            <i class="fa fa-bars"></i>
        </button>
        <h1 class="ml-auto">
            <%= E.title %>
        </h1>
    </nav>
    <div class="container mt-5">
        <p>Event City: <%= E.city %></p>
        <p>Event Venue: <%= E.venue %></p>
        <p>Event Date: <%= E.date.toDateString() %></p>
    </div>
</div>