body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    color: #333;
}
a,a:hover,a:visited,a:active{
    text-decoration: none;
    color: white;
}
#wrapper {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease; 
}

#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
    background-color: #003366;
    transition: all 0.3s ease;
    position: fixed; 
    left: -250px; 
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    left: 0;
    z-index: 1000; 
}


#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

.sidebar-heading {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #003366;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.list-group-item {
    border: none;
    border-radius: 0;
    font-weight: 500;
    transition: all 0.3s;
}

.list-group-item:hover {
    background-color: #66adf3;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary {
    border-radius: 50px;
}

.card {
    border-radius: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.card-body img {
    border-radius: 50%;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    #sidebar-wrapper {
        position: fixed; 
    }

    #wrapper.toggled #sidebar-wrapper {
        left: 0; 
    }

    #page-content-wrapper {
        width: 100%;
    }
}